html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #051923;
  color: white;
}

h1{
  display:flex;
  justify-content: center;
}

header {
  width: 100%;
  height: 50px;
  display: block;
  justify-content: center;
  align-items: center;
}

label {
  color: #ffff;

}

label:hover {
  background-color: #5eb1b1;
  font-size: 1.2rem;
}

button {
  border-radius: 20px;
  border: none;
  background-color: #75DDDD;
  font-size: 8px;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 11px 18px;
  margin: 1px;
  cursor: pointer;

}

button:hover {
  background-color: #5eb1b1;
}

.nav {
  display: flex;
  justify-content: flex-end;
  background-color: #003554;
  height: 30px;

}

.enlacesnav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}



.logoheader {

}

.imagencentral {
  background-image: url("images/fototala.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  margin-top: 20px;
}

.h1 {
  display: flex;
  justify-content: center;
}

/*tienda*/
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (min-width:768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

}

.producto {
  background-color: white;
  padding: 1rem;

}


.producto__imagen {
  height: 100px;
  padding-left: 57px;
  padding-top: 20px;
}

.producto__nombre {
  color: #003554;
  padding-left: 90px;
}

.producto__precio {
  color: #003554;
  padding-left: 95px;
}

a {
  text-decoration: none;
  
}